---
permalink: README.md
---
# Inclusive Web Design Checklist

_Original project at [@Heydon/inclusive-design-checklist](https://github.com/Heydon/inclusive-design-checklist). This project was converted to use the [Eleventy](https://github.com/zachleat/eleventy) static site generator as a proof of concept sample project._

Aims to be the **biggest** checklist of inclusive design considerations for the web _ever_. Includes items for accessibility, performance, device support, interoperability, and language. Pull requests welcome!

{% for listitem in checklist -%}
- [ ] {{ listitem.item | safe }}{% for resource in listitem.resources %} [[#{{loop.index}}]({{ resource }})] {% endfor %}
{% endfor %}
